.nav-item .nav-link{
    text-shadow: 0 0 20px rgb(92, 0, 134);
    transition: font-size 0.3s;
}

.nav-item .nav-link:hover {
    font-size: 1.5em; /* เปลี่ยนขนาดตัวอักษรเมื่อ hover */
}

.nav-item .dropdown-item{
    transition: font-size 0.3s;
}

.nav-item .dropdown-item:hover{
    font-size: 1.5em; /* เปลี่ยนขนาดตัวอักษรเมื่อ hover */
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* ใช้เพื่อให้ Navbar อยู่หน้าสุด */
    font-family: Arial, sans-serif;
}
